h1, h2, h3, h4, h5, h6 {
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom: 10px;
}

h1 {
  font-size: 30px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #85a4c9;
}

header {
  background-color: #003a3a;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: #fff;
}


.external-links-container {
  padding: 2px;
  position: fixed;
  right: 2px;
  bottom: 2px;
}


